[
    {
        "theme": "Тема1",
        "code": "theme1",
        "questions": [
            {
                "text": "Вопрос1",
                "answers": [
                    {
                        "text": "Ответ1",
                        "valid": true
                    },
                    {
                        "text": "Ответ2"
                    }
                ]
            },
            {
                "text": "Вопрос2",
                "answers": [
                    {
                        "text": "Ответ1"
                    },
                    {
                        "text": "Ответ2",
                        "valid": true
                    }
                ]
            }
        ]
    },
    {
        "theme": "Тема2",
        "code": "theme2",
        "questions": [
            {
                "text": "Вопрос1",
                "answers": [
                    {
                        "text": "Ответ1",
                        "valid": true
                    },
                    {
                        "text": "Ответ2"
                    }
                ]
            },
            {
                "text": "Вопрос2",
                "answers": [
                    {
                        "text": "Ответ1"
                    },
                    {
                        "text": "Ответ2",
                        "valid": true
                    }
                ]
            },
            {
                "text": "Вопрос3",
                "answers": [
                    {
                        "text": "Ответ1"
                    },
                    {
                        "text": "Ответ2",
                        "valid": true
                    },
                    {
                        "text": "Ответ3"
                    }
                ]
            }
        ]
    }
]