[
    {
        "theme": "Theme1",
        "code": "theme1",
        "questions": [
            {
                "text": "Question1",
                "answers": [
                    {
                        "text": "Answer1",
                        "valid": true
                    },
                    {
                        "text": "Answer2"
                    }
                ]
            },
            {
                "text": "Question2",
                "answers": [
                    {
                        "text": "Answer1"
                    },
                    {
                        "text": "Answer2",
                        "valid": true
                    }
                ]
            }
        ]
    },
    {
        "theme": "Theme2",
        "code": "theme2",
        "questions": [
            {
                "text": "Question1",
                "answers": [
                    {
                        "text": "Answer1",
                        "valid": true
                    },
                    {
                        "text": "Answer2"
                    }
                ]
            },
            {
                "text": "Question2",
                "answers": [
                    {
                        "text": "Answer1"
                    },
                    {
                        "text": "Answer2",
                        "valid": true
                    }
                ]
            },
            {
                "text": "Question3",
                "answers": [
                    {
                        "text": "Answer1"
                    },
                    {
                        "text": "Answer2",
                        "valid": true
                    },
                    {
                        "text": "Answer3"
                    }
                ]
            }
        ]
    }
]